[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Xfconnect-indicator
Comment=
Exec=systemctl --user start  xfconnect.service
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

